@use 'mixins' as m;
@use 'variables' as v;

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  &__element {
    padding: 1rem;
    aspect-ratio: 1;
    background-color: transparentize(darken(v.$bar-color-lower, 10%), 0.2);
    border: 1px solid darken(v.$bar-color-lower, 10%);
  }
}