@use 'mixins' as m;
@use 'variables' as v;

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: v.$text-color;

  @include m.gill-sans-weigth(300);

  &__element {
    @include m.flex-direction-justify(column, center);

    text-align: center;
    position: relative;
    aspect-ratio: 1;
    background-color: transparentize(darken(v.$bar-color-lower, 10%), 0.2);
    border: 1px solid darken(v.$bar-color-lower, 10%);

    .fa-caret-right {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__content__title {
    @include m.gill-sans-weigth(300);

    font-size: 1.5rem;
    color: v.$title-color;
  }
}
