@use 'mixins' as m;
@use 'variables' as v;

.header {
  position: relative;

  &__container {
    background-color: transparentize(v.$bg-black, 0.4);
    @include m.flex-direction-justify(row, space-between);

    &__icon {
      width: 46.5%;
      z-index: 1;
      animation: heroMove 8s infinite running;
    }
    &__logo {
      img {
      width: 100%;
      z-index: 1;
      }
    }
  }
}

.header__description {
  @include m.gill-sans-weigth(300);

  background-color: v.$bar-color-lower;
  z-index: 2;
  p {
    line-height: 1.3;
    padding: 0.5rem 1rem;
    color: v.$text-color;
  }
}

.video-container{
  position: relative;
  width: 100vw;
  video {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}

@keyframes heroMove {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(-2deg)
  }
}