$gradient-one: #1e2845;
$gradient-two: #5966ff;

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
  background-image: linear-gradient($gradient-one, $gradient-two );
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: none;

}

a,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


