html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #71ccf3 ;
}

a, 
a:visited, 
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}
